<?xml version="1.0"?>
<config>
    <modules>
        <MOC_ShopbyFix>
            <version>0.1.1</version>
        </MOC_ShopbyFix>
    </modules>
    <global>
        <helpers>
            <mocshopbyfix>
                <class>MOC_ShopbyFix_Helper</class>
            </mocshopbyfix>
            <amshopby>
                <rewrite>
                    <layer_view_strategy_attribute>MOC_ShopbyFix_Helper_Layer_View_Strategy_Attribute</layer_view_strategy_attribute>
                    <layer_view_strategy_rating>MOC_ShopbyFix_Helper_Layer_View_Strategy_Rating</layer_view_strategy_rating>
                    <layer_view_strategy_stock>MOC_ShopbyFix_Helper_Layer_View_Strategy_Stock</layer_view_strategy_stock>
                    <layer_view_strategy_price>MOC_ShopbyFix_Helper_Layer_View_Strategy_Price</layer_view_strategy_price>
                    <layer_view_strategy_decimal>MOC_ShopbyFix_Helper_Layer_View_Strategy_Decimal</layer_view_strategy_decimal>
                </rewrite>
            </amshopby>
        </helpers>
        <blocks>
            <page>
                <rewrite>
                    <html_head>MOC_ShopbyFix_Block_Page_Html_Head</html_head>          
                </rewrite>
            </page>
            <catalog>
                <rewrite>
                    <category_view>MOC_ShopbyFix_Block_Catalog_Category_View</category_view>
                </rewrite>
            </catalog>
            <amshopby>
                <rewrite>
                    <top>MOC_ShopbyFix_Block_Top</top>
                    <catalog_layer_filter_rating>MOC_ShopbyFix_Block_Catalog_Layer_Filter_Rating</catalog_layer_filter_rating>
                    <catalog_layer_filter_stock>MOC_ShopbyFix_Block_Catalog_Layer_Filter_Stock</catalog_layer_filter_stock>
                </rewrite>
            </amshopby>
        </blocks>
        <models>
            <mocshopbyfix>
                <class>MOC_ShopbyFix_Model</class>
            </mocshopbyfix>            
            <catalog>
                <rewrite>
                    <template_filter>MOC_ShopbyFix_Model_Catalog_Template_Filter</template_filter>
                </rewrite>
            </catalog>            
            <amshopby>
                <rewrite>
                    <url_builder>MOC_ShopbyFix_Model_Url_Builder</url_builder>
                </rewrite>
            </amshopby>
        </models>
        <resources>
          <categoryattribute1396362158_setup>
              <setup>
                <module>MOC_ShopbyFix</module>
                <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
              </setup>
              <connection>
                <use>core_setup</use>
              </connection>
          </categoryattribute1396362158_setup>
        </resources> 
        <events>
          <controller_action_layout_load_before>
            <observers>
              <controller_action_layout_load_before_handler> <!-- identifier of the event handler -->
                <type>model</type> <!-- class method call type; valid are model, object and singleton -->
                <class>mocshopbyfix/observer</class> <!-- observers class alias -->
                <method>check</method>  <!-- observer's method to be called -->
              </controller_action_layout_load_before_handler>          
            </observers>
          </controller_action_layout_load_before>
       </events>     
    </global>
    <frontend>
        <layout>
            <updates>
                <mocshopbyfix module="MOC_ShopbyFix">
                    <file>mocshopbyfix/mocshopbyfix.xml</file>
                </mocshopbyfix>
            </updates>
        </layout>        
    </frontend>
    <default>
        <system>
            <mocshopbyfix>
                <debug>1</debug>
            </mocshopbyfix>
        </system>
    </default>
</config>
